body {
  background: url('images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  
}

#content {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

#board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: rgba(73, 189, 27, 0.504);
  border-radius: 7px;
  flex-shrink: 0;
  overflow: hidden; /* This is the new, crucial property */
  box-sizing: border-box;
  margin: 0em 2em 0em 2em;
}

#board .square {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-color: rgba(244, 243, 243, 0.46);
  background-size: cover;
  box-shadow: inset 0 0 6px #a1ae93;
  transition: transform 0.2s ease-in-out;
  touch-action: none; /* Prevents scrolling on touch devices */
}

#control-div {
	display: flex;
	flex-direction: row;
  margin-bottom: 2em;
  margin-left: 2em;
  box-sizing: border-box;
}

#button {
	background-image: url('images/button.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
	height: 15em;
	width: 25em;
	cursor: pointer;
	background-size: 100%;
  pointer-events: auto;
}

#info-div {
  padding: 0.5em 1em 0.5em 1em;
  background-color: rgba(75, 137, 44, 0.46);
  box-shadow: inset 0 0 8px rgba(73, 189, 27, 0.2);
  border-radius: 7px;
}

#info-div p {
  font-family: Consolas;
  font-size: 2em;
	color: white;
}

.information-container {
	display: flex;
	flex-direction: row;
}

.information-container p {
	color: white;
	font-size: larger;
  line-height: 0;
}

/* #candies-div {
}

#candies-div p {
} */

#candies {
	margin-left: 0.5em;
	color: white;
	text-align: center;
	justify-content: center;
}

#score {
	display: flex;
	flex-direction: row;
}

#candy {
	height: 40px;
	width: 40px;
	background-size: 100%;
}


