* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	width: 100vw;
	height: 100vh;
}
.popupContainer {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	z-index: 20000;
}
/* .debug {
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.25);
	padding: 0.5em;
	width: 75vw;
	height: 25vh;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	pointer-events: none;
	z-index: 20000;
	overflow-x: hidden;
	overflow-y: scroll;
}
.debug p {
	font-size: 0.75em;
	white-space: pre-line;
} */
.result {
	background-color: white;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border-radius: 1em;
	width: 75vw;
	transform: scale(0);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
	pointer-events: none;
}
.result.show {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}
.result #header {
	font-size: 1.5em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}
.result #content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 0.75em;
}
.result #actions {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 1em 0em 1em 0em;
}
.result #actions button {
	background-color: #82f43f;
	border-style: none;
	border-radius: 0.5em;
	overflow: hidden;
	padding: 1em 0.5em 1em 0.5em;
	font-weight: bold;
	width: 8em;
	pointer-events: auto;
}
button:active {
	animation: pressBounce 0.3s;
}
@keyframes pressBounce {
	0%		{ transform: scale(1); }
	50%		{ transform: scale(0.9); }
	100%	{ transform: scale(1); }
}
.result #content #finalScore {
	text-align: center;
	font-size: 6em;
}
.background {
	height: 100vh;
	width: 100vw;
	background: url('images/background-img.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.bird {
	height: 100px;
	width: 130px;
	position: fixed;
	top: 40vh;
	left: 30vw;
	z-index: 100;
}
.pipe_sprite {
	position: fixed;
	top: 40vh;
	left: 100vw;
	height: 70vh;
	width: 6vw;
	background:radial-gradient(lightgreen 50%, green);
	border: 5px solid black;
	pointer-events: none;
}
.message {
	z-index: 10;
	color: black;
	font-size: 1em;
	text-align: center;
}
.messageStyle{
	background: white;
	padding: 25px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5%;
}
.score {
	position: fixed;
	z-index: 10;
	height: 10vh;
	font-size: 10vh;
	font-weight: 100;
	color: white;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	top: 0;
	left: 0;
	margin: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.score_val {
	color: gold;
	font-weight: bold;
}
@media only screen and (max-width: 1080px) {
	.score{
		font-size: 8vh;
	}
	.bird{
		width: 120px;
		height: 90px;
	}
	.pipe_sprite{
		width: 14vw;
	}
}